name: Build APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.41.2'
      - run: flutter pub get
      - run: flutter build apk --debug --no-tree-shake-icons --no-shrink
      - uses: actions/upload-artifact@v3
        with:
          name: bufferwave-apk
          path: build/app/outputs/flutter-apk/app-debug.apk